.hero-contact {

  padding: 80px 0;
  background-image: url('../assets/images/heros/contact.png');
  background-color: #333;
  background-size: cover;

}

.contact-form{
  margin-top: 40px;

}

.hero-conctact-image{
  height: 250px;
  background-color: #c4cacd;
}

.sales-inquiers {
  a {
    text-decoration: none;
    font-weight: 400;
    color: #7b7c7f;

    &:hover {
      color: #414141;
      text-decoration: none;
    }

  }

  margin-bottom: 30px;
}