.hero-gallery {
  padding: 80px 0;
  background-image: url("../assets/images/heros/gallery.png");
  background-size: cover;
}

.gallery{
  padding: 75px 0;
  background-color: #f8f8f8;

  .contact-form {
    margin-top: 0px!important;
  }

}


@media (min-width: $screen-sm-min) {

  .hero-company {
    padding: 125px 0;
  }

}