.home-panels-hero {
  padding: 47px 0;

  a {
    color: #333;
  }

}

.home-panels {
  padding: 75px 0 47px 0;
  background-color: #F8F8F8;
  border-top: 1px solid #ddd;

  a {
    color: #333;
  }

}

.panel-default{
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.10);
  }

  &:after {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }

}

@media (min-width: $screen-md-min) {

  .home-panels .panel-body {
    height: 340px;
  }

}