.news{
  padding: 100px 0 75px 0;
  background-color: #f8f8f8;

  .news_link, p{
    margin-bottom: 0!important;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.latest-news{
  position: fixed;
  right: 0;
  display: none;
}

@media (min-width: 900px) {

  .latest-news {
    display: block;
  }
}